// variables
$border: solid red 3px;

// Base
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  background: var(--body-bg);
  // height: 100vh;
}

/* Body Font */
@font-face {
  font-family: "Adobe_Garamond";
  src:url("./../../static/fonts/AGaramondPro-Regular.otf");
}
@font-face {
  font-family: "Adobe_Garamond_Italic";
  src:url("./../../static/fonts/AGaramondPro-Italic.otf");
}
@font-face {
  font-family: "Adobe_Garamond_Bold";
  src:url("./../../static/fonts/AGaramondPro-Bold.otf");
}
/* Heading Font */
@font-face {
  font-family: "League_Gothic";
  src:url("./../../static/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf");
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);

}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1em;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}

// home page ------------------
.page-content {
  margin: 0;
  padding: 0;
}

.banner {
  text-align: center;
  font-family: "Adobe_Garamond_Italic";
  background-color: var(--brand-color);
  color: var(--body-bg);
  padding: 0.4em 0 0.4em 0;
}
.book-of-the-day-parent {
  
  background-image: url('../../static/images/citrus-tree.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 

  .book-of-the-day {
    // border: $border;
    background-color: var(--body-bg);
    padding: 1.4em;
    

    .botd-image {
      max-width: 100%; 
      max-height: 14rem; 
      display: block; 
      margin: auto; 
    }

    .botd-information {
      margin-left: 1.2rem;
      h1 {
        font-size: 1.8rem;
        font-family: var(--league);
        font-weight: 100;
        
      }

      h2 {
        font-size: 1.1rem;
        // font-weight: 100;
        font-family: var(--bold);

        span {
          font-family: var(--regular);
          color: #3f3f3f;
        }
      }

      p {
        font-size: .95rem;
      }
      
    }

  }
  
}

@media all and (min-width: 768px){ 
  
  .book-of-the-day-parent {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1.4rem 0;
  
    .book-of-the-day {
    display: flex;
    padding: 1.4em 5em 1.4em 1.4em;
    border-radius: 0.15rem;
    

    .botd-information {
      width: 60ch;
    }
  }
}
}


// display books --------------

.books-grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(8em, 3fr));
  border: solid red 3px;
  .book-card {
    margin: 0.4rem;
  }
}


// books dialog
.book-dialog {
  position: relative;
  z-index: 100;
  background-color: aqua;
}

.book-dialog::part(body){
  margin-top: -4em;
}

.book-dialog::part(header-actions) {
  z-index: 1;
}
// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}
