// variables
$border: solid red 3px;

// Base
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  background: var(--body-bg);
  // height: 100vh;
}

/* Body Font */
@font-face {
  font-family: "Adobe_Garamond";
  src:url("./../../static/fonts/AGaramondPro-Regular.otf");
}
@font-face {
  font-family: "Adobe_Garamond_Italic";
  src:url("./../../static/fonts/AGaramondPro-Italic.otf");
}
@font-face {
  font-family: "Adobe_Garamond_Bold";
  src:url("./../../static/fonts/AGaramondPro-Bold.otf");
}
/* Heading Font */
@font-face {
  font-family: "League_Gothic";
  src:url("./../../static/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf");
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0;
  color: var(--heading-color);
  font-weight: normal;

}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1em;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}

// home page ----------------------------------------------------
.page-content {
  margin: 0;
  padding: 0;
}

.banner {
  text-align: center;
  font-family: "Adobe_Garamond_Italic";
  background-color: var(--brand-color);
  color: var(--body-bg);
  padding: 0.4em 0 0.4em 0;
}
.book-of-the-day-parent {
  
  background-image: url('../../static/images/citrus-tree.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 

  .book-of-the-day {
    // border: $border;
    background-color: var(--body-bg);
    padding: 1.4em;
    

    .botd-image {
      max-width: 100%; 
      max-height: 14rem; 
      display: block; 
      margin: auto; 
    }

    .botd-information {
      margin-left: 1.2rem;
      h1 {
        font-size: 1.8rem;
        font-family: var(--league);
        font-weight: 100;
        
      }
      h2 {
        font-size: 1.1rem;
        // font-weight: 100;
        font-family: var(--bold);

        span {
          font-family: var(--regular);
          color: #3f3f3f;
        }
      }
      p {
        font-size: .95rem;
      }
      
    }

  }
  
}
// filter section ----

.filter-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  // border: $border;
  background-image: url('../../static/images/bg-paper.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  padding: 2em 2.2em 0 1.4em;

  .filter-header {
    font-family: var(--bold);
    margin-bottom: 1.4em;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    strong {
      font-family: var(--bold);
      color: #3f3f3f; 
      margin-bottom: 0.4rem;
    }
  }
  
}

// Cart page ----------------------------------------------------
.cart-total-flex {
  margin-bottom: 10rem;
}
.cart-books-section {
  h1 {
    font-family: var(--league);
    color: var(--brand-color);
    text-align: center;
    font-size: 2.4rem;
  }

}

.total-section {
  padding: 0 2rem 0 2rem;
  h2 {
    font-family: var(--league);
    color: var(--brand-color);
    text-align: center;
    font-size: 2.4rem;
  }
  
  .book-summaries {
    max-width: 20rem;
    .book-summary {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      p {
        font-family: var(--bold);

        span {
          font-family: var(--regular);
          color: #3f3f3f;
        }
      }
    }
  }
  .total {
    font-family: var(--bold);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem 0 1rem 0;
    background-color: #ebefd8;
  }
}

.checkout-section {
  // border: solid green 3px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5rem;
  background-image: url('../../static/images/checkout-banner.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: right;
  .checkout-btn {
    margin-right: 2rem;
  }
}

// Account page ---------------------------------------------------

.account-page {
  
  .profile-photo {
    text-align: center;
  }
  .profile-info {
    padding-bottom: 5em;
    text-align: center;
    h1 {
      font-family: var(--league);
      color: var(--brand-color);
      font-size: 2.4rem;

    }
    background-color: var(--body-bg);
    // border: $border;
    
    .account-btn {
      margin: 0 0.4rem;
    }

    .sign-out-btn {
      margin-top: 2rem;
    }
 
  }
}


// New Book page -------------------------------------------------
/* x icon used on other screens */
.x-lg {
  font-size: 1.6rem;
}

.new-book-page {

  .add-listing-header {
    display: flex;
    align-items: center;
    margin: 0 4rem 2rem 4rem;
    justify-content: space-between;

    h1 {
      font-family: var(--league);
    }
  }


  #frame {
    width: 12rem;
    height: 20rem;
    background-color: #ebefd8;
    object-fit: cover;
  }

  //make input invis
  input[type=file] {
    display: none;
  }

  // custom input btn
  .custom-file-input {
    background-color: var(--brand-color);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
  }
  
  .file-group {
    // border: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;

  }

  .add-btn {
    margin: 0 1rem 2rem 0;
  }

}

// Edit account page -------------------------------------------------

.edit-page {
  background-image: url('../../static/images/account-bg.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;

  .input-validation-required {
    
    background-color: var(--body-bg);
    padding: 3rem 6rem;
    h1 {
      font-family: var(--league);
    }
    
    .edit-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .edit-profile-input, .edit-profile-textarea {
      margin: 2rem 0;
    }

    .avatar-label {
      font-family: var(--bold);
    }
    .button-wrapper {
      display: flex; 
      justify-content: center;
      margin-top: 2rem;
      .submit-btn {
        width: 100%;
      }
    }
  }
}

/* Media query for desktop screens */
@media all and (min-width: 768px){ 
  // Edit account page -----------------------------------------

  .edit-flex {
    display: flex;

    .edit-section-two {
      margin-left: 4rem;
    }
  }
  // New book page   -------------------------------------------------

  .center {
    display: flex;
    justify-content: center;
  
    .form-flex {
      display: flex;
      
      .text-inputs, .radio-inputs {
        margin-left: 5rem;
      }
    }
}
  // account page -------------------------------------------------

  .account-page {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content:center;

    .profile-photo {
      margin: 0 0 2rem 0;
    }
    .profile-info {
      max-width: 50rem;
    }
  }

  // home page ----------------------------------------------------
  .book-of-the-day-parent {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1.4rem 0;
  
    .book-of-the-day {
    display: flex;
    padding: 1.4em 5em 1.4em 1.4em;
    border-radius: 0.15rem;
    

    .botd-information {
      width: 60ch;
      p {
        margin-bottom: 1.6rem;
      }
    }
    }
  }

  // filter section
  .filter-menu {
    .filter-header {
      display: flex;
      justify-content: space-between;
    }
  }

  .filter-and-books-parent {
    display: flex;
  }

  // Cart page ----------------------------------------------
   .cart-total-flex {
    display: flex;
  } 
  .cart-books-section {
    min-width: 60vw;
    h1 {
      text-align: left;
      margin: 0 0 2rem 4rem;
    }
    .cart-grid {
      margin: 0 2rem 0 4rem;
    }
  }

  .total-section {
    padding: 0 4rem;
    border-left: solid 3px var(--brand-color);
    min-height: 70vh;
    h2 {
      text-align: left;
      margin-bottom: 2rem;
    }
    .book-summaries {
      min-width: 20rem;
    }
  }

}


// display books --------------

.books-grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(8em, 3fr));
  margin: 4rem;
  
  // border: solid red 3px;
  .book-card {
    margin: 0.4rem;
  }
  
}


// books dialog
.book-dialog {
  position: relative;
  z-index: 10;
  background-color: var(--body-bg);

}

.book-dialog::part(body){
  margin-top: -4em;
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  // edit profile page --------------------------
  .input-validation-required {
    margin-top: 6rem;
  }

  // Sign up
  .signinup-box {
    width: 90%;
    max-width: none;
  }

  // profile
  .profile-info {
    p {
      padding: 0 1rem;
    }
    .account-btns {
      display: flex;
      flex-direction: column;
    }
  }

  // New book page   -------------------------------------------------
 
  .file-group {
    align-items: center;
  }
  .page-form {
    padding: 0 2rem;
  }
  .radio-inputs {
    margin-top: 2rem;
  }

}
